<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <script src="scripts/boardUpdate.js" defer></script>
</head>
<body>
    <h1>게시글 수정</h1>
    <form id="updatePostForm">
        <input type="hidden" name="boardId" value="<%= boardId %>">
        <input type="hidden" name="typeId" value="<%= typeId %>">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" value="<%= title %>" required>
        <br>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required><%= content %></textarea>
        <br>
        <button type="submit">수정</button>
    </form>
</body>
</html>
