version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-container
    networks:
      - app-network
    ports:
      - "8012:3000"
    environment:
      DB_HOST: mysql-container
      DB_USER: root
      DB_PASSWORD: root
      DB_DATABASE: dockerProject
    depends_on:
      database:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-container
    networks:
      - app-network
    ports:
      - "8011:80"
    restart: always

  database:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: mysql-container
    networks:
      - app-network
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dockerProject
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_general_ci
      TZ: Asia/Seoul
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --init-connect='SET NAMES utf8mb4'

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-container
    networks:
      - app-network
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    restart: always

    
  minio:
    image: minio/minio
    container_name: image-container
    networks:
      - app-network
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: server /data
    volumes:
    - ./miniO:/data # 로컬 miniO 디렉토리를 MinIO 컨테이너의 /data에 마운트
    restart: always
    
networks:
  app-network:
    driver: bridge
