<!doctype html>
<html>

<head>
    <title>
        WEB05
    </title>
    <meta charset='utf-8'>
    <link rel='icon' href='data:,'> <!-- favicon 처리 -->
</head>


<body>
    <%- login %>
    <h1> your Home page</h1>
    <h3> <%= user %> 님 반가워요 ! </h3>

</body>

</html>