<!doctype html>
<html>
<head>
    <title>FDM Stands for Fine Data Mine!</title>
    <meta charset='utf-8'>
    <link rel='icon' href='data:,'> <!-- favicon 처리 -->
</head>

<body>
    <h1>Welcome to FDM: Fine Data Mine!!!</h1>

    
    <!-- 로그인 폼 -->
    <div id='login-form'>
        <form action='/login_process' method='post'>
            <label for='username'>ID:</label>
            <input type='text' id='username' name='username' required><br><br>

            <label for='password'>Password:</label>
            <input type='password' id='password' name='password' required><br><br>

            <button type='submit'>Login</button>
        </form>

        <h5><a href='/register'>회원가입</a></h5>
        <h5><a href='/findPassword'>비밀번호 찾기</a></h5>
        <button id="proxyBtn">로그인 없이 이용하기</button>

        <script>
            document.getElementById('proxyBtn').onclick = function() {
                window.location.href = '/proxy_login'; 
            };
        </script>
    </div>
    <br><br><br><br>
    <h3>made by: illuminateP/sincelife777@gmail.com</h3>
</body>
</html>
